<configuration>
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss} [TRACE_ID=%X{X-Trace-ID}] [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>